.DS_Store
.idea
coverage
node_modules
*.log
dist
.next
vendor/*
tmp/*
.vscode

.env*
.npmrc
.yarnrc

src/app/static/static/*.js
src/app/static/static/*.json

config/golos.json
config/golos-dev.json
config/local.json
config/process.json
config/process-dev.json
config/process-prod.json

scripts/package-lock.json
scripts/yarn.lock

package-lock.json
