$mainly-blue: #1a5099;
$gray95: #f2f2f2;
$light-gray: #e1e1e1 !default;
$medium-gray: #cacaca !default;
$dark-gray: #8a8a8a !default;
$black: #333 !default;
$white: #fefefe !default;
$alert-color: #fd3a28 !default;
$success-color: #0f0 !default;
$body-font-family: 'Roboto', Arial, sans-serif !default;
