@mixin dialog-tip($up: false) {
  position: absolute;
  left: 50%;
  margin: -5px;
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);

  @if $up == true {
    top: 0;
    transform: rotate(225deg);
  } @else {
    bottom: 0;
    transform: rotate(45deg);
  }
}
